@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "judson";
  src: url("./assets/fonts/Judson-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "carattere";
  src: url("./assets/fonts/Carattere-Regular.ttf") format("truetype");
  font-style: normal;
}
